.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
  max-width: 100%;

}

mat-header-row{
  background-color: #002475;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: larger;
}

.mat-cell {
  text-align: center;
  justify-content: center;
  font-size: larger;
}

button{
  font-size: larger;
  margin: auto;
}

.btn-group{
  margin: auto;
}

::ng-deep .customize {
  background: blanchedalmond;
}
