<div class="container" >
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="openForm()"
            mat-raised-button color="primary">إنشاء عقد جديد
    </button>
  </div>
  <div class="btn-group sort-btn" style="padding: 5px;">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">ترتيب بواسطة</button>
    <mat-menu #menu="matMenu" class="customize">
      <button  mat-menu-item>التأريخ</button>
      <button  mat-menu-item>نسبةالإنجاز</button>
    </mat-menu>
	</div>
  <!-- <div>
    <br>
    <button (click)="openForm()"
            mat-raised-button color="primary">إنشاء عقد جديد
    </button>
  </div> -->
  <div >
    <mat-form-field class="full-width">
      <input matInput placeholder="بحث" (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>

<div >
  <mat-table [dataSource]="dataSource" matSort style="direction: rtl;">

    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef mat-sort-header>م.</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contractClass}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> رقم العقد</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contractNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sourceColumn">
      <mat-header-cell *matHeaderCellDef mat-sort-header> المقاول</mat-header-cell>

      <mat-cell *matCellDef="let row">
        {{row.contractor}}

      </mat-cell>
    </ng-container>
    <!---->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>مبلغ العقد</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.contractValue}}
      </mat-cell>
    </ng-container>
<!---->
    <ng-container matColumnDef="individual">
      <mat-header-cell *matHeaderCellDef mat-sort-header>الخصومات</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.contractDiscount}}
      </mat-cell>
    </ng-container>
<!--    -->


    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>المتبقي</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.remainingValue}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> التأريخ</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contractEndDate | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="display">
      <mat-header-cell *matHeaderCellDef mat-sort-header> عرض</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="displayElements(row)">
          <mat-icon style="outline: outset;">play_arrow</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">لا يوجد عقود "{{input.value}}"</td>
    </tr>
  </mat-table>
</div >

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons = "true"></mat-paginator>
</div>
