<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> الرئيسية </a>
        <a mat-button (click)="showContracts()"> العقود</a>
        <a mat-button (click)="authService.showProfile()"> المستخدم </a>
      </div>
      <div>
        <a mat-button (click)="authService.SignOut()"><mat-icon>logout</mat-icon></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>

