mat-toolbar{
  direction: rtl;
  align-items: center;
  background: lightblue;
  height: auto;
}

.float-left{
  margin-top: 18px;
}

mat-menu{
  background: #002475;
  color: white;
}

button{
  font-size: larger;
}

.logout{
  margin-right: 75.5%;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}
