
  <mat-toolbar color="primary">
    <!-- <div class="container"> -->
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
        <button mat-button (click)="goHome()"> الرئيسية </button>
        <button mat-button (click)="showContracts()"> العقود</button>
        <button mat-button (click)="authService.showProfile()"> المستخدم </button>
      </div>
      <div class="logout">
        <button mat-button (click)="authService.SignOut()"><mat-icon>logout</mat-icon></button>
      </div>
    </mat-toolbar-row>
    <!-- </div> -->
  </mat-toolbar>
<router-outlet></router-outlet>

