.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: -webkit-fill-available;
}

mat-select{
  direction: ltr;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

div{
  margin: 5px;
}

input {
  font-size: larger;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-step-text-label{
  font-size: x-large;
  color: black;
}


.actions-bar > button{
  color: #ffffff;
  background-color: #673ab7;
}

button{
  background-color: #002475;
  color: white;
  margin: 2px;
}

mat-horizontal-stepper{
  font-size: large;
}

mat-step{
  font-size: larger;
}

