<div class="container" >
  <div>
    <br>
    <button (click)="openForm()"
            mat-raised-button color="primary">إضافة دفعة جديدة
    </button>
</div>

  <div><h1>الاستلام والقبول</h1></div>
<div >
  <mat-table [dataSource]="dataSource" matSort style="direction: rtl;">
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef mat-sort-header>م.</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paymentClass}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> رقم الشهادة</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.certificateNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sourceColumn">
      <mat-header-cell *matHeaderCellDef mat-sort-header> مبلغ الدفعة</mat-header-cell>

      <mat-cell *matCellDef="let row">
        {{row.paymentValue}}

      </mat-cell>
    </ng-container>
    <!---->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>الخصم</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.paymentDiscount}}
      </mat-cell>
    </ng-container>
<!---->
    <ng-container matColumnDef="individual">
      <mat-header-cell *matHeaderCellDef mat-sort-header>التأريخ</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.billDate | date}}
      </mat-cell>
    </ng-container>
<!--    -->


    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>تم الإنشاء بواسطة</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.createdBy}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="case">
      <mat-header-cell *matHeaderCellDef mat-sort-header> الحالة</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          color="warn"
          *ngIf="row.status==false"
          >
          ناقصة بعد
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="row.status==true"
          >
          تم الانتهاء
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="display">
      <mat-header-cell *matHeaderCellDef mat-sort-header> عرض</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="displayElements(row)">
          <mat-icon style="outline: outset;">play_arrow</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div >

  <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons = "true"></mat-paginator>

  <div><h1>الشهادة النهائية</h1></div>
  <div >
    <mat-table [dataSource]="dataSource1" matSort style="direction: rtl;">
      <ng-container matColumnDef="class">
        <mat-header-cell *matHeaderCellDef mat-sort-header>م.</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.paymentClass}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> رقم الشهادة</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.certificateNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sourceColumn">
        <mat-header-cell *matHeaderCellDef mat-sort-header> مبلغ الدفعة</mat-header-cell>

        <mat-cell *matCellDef="let row">
          {{row.paymentValue}}

        </mat-cell>
      </ng-container>
      <!---->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>الخصم</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.paymentDiscount}}
        </mat-cell>
      </ng-container>
  <!---->
      <ng-container matColumnDef="individual">
        <mat-header-cell *matHeaderCellDef mat-sort-header>التأريخ</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.billDate | date}}
        </mat-cell>
      </ng-container>
  <!--    -->


      <ng-container matColumnDef="organization">
        <mat-header-cell *matHeaderCellDef mat-sort-header>تم الإنشاء بواسطة</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.createdBy}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="case">
        <mat-header-cell *matHeaderCellDef mat-sort-header> الحالة</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            color="warn"
            *ngIf="row.status==false"
            >
            ناقصة بعد
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="row.status==true"
            >
            تم الانتهاء
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="display">
        <mat-header-cell *matHeaderCellDef mat-sort-header> عرض</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button
                  (click)="displayElements(row)">
            <mat-icon style="outline: outset;">play_arrow</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div >

    <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons = "true"></mat-paginator>

    <div><h1>قطع الغيار</h1></div>
    <div >
      <mat-table [dataSource]="dataSource2" matSort style="direction: rtl;">
        <ng-container matColumnDef="class">
          <mat-header-cell *matHeaderCellDef mat-sort-header>م.</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.paymentClass}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> رقم الشهادة</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.certificateNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sourceColumn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> مبلغ الدفعة</mat-header-cell>

          <mat-cell *matCellDef="let row">
            {{row.paymentValue}}

          </mat-cell>
        </ng-container>
        <!---->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>الخصم</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.paymentDiscount}}
          </mat-cell>
        </ng-container>
    <!---->
        <ng-container matColumnDef="individual">
          <mat-header-cell *matHeaderCellDef mat-sort-header>التأريخ</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.billDate | date}}
          </mat-cell>
        </ng-container>
    <!--    -->


        <ng-container matColumnDef="organization">
          <mat-header-cell *matHeaderCellDef mat-sort-header>تم الإنشاء بواسطة</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.createdBy}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="case">
          <mat-header-cell *matHeaderCellDef mat-sort-header> الحالة</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              mat-raised-button
              color="warn"
              *ngIf="row.status==false"
              >
              ناقصة بعد
            </button>
            <button
              mat-raised-button
              color="primary"
              *ngIf="row.status==true"
              >
              تم الانتهاء
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="display">
          <mat-header-cell *matHeaderCellDef mat-sort-header> عرض</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button
                    (click)="displayElements(row)">
              <mat-icon style="outline: outset;">play_arrow</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div >

      <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons = "true"></mat-paginator>
</div>
