button:disabled{
  cursor: not-allowed;
  color: grey;
}

.actions-bar > button{
  color: #ffffff;
  background-color: #673ab7;
}

.item-label{
  padding: 17px;
}

.example-form-field {
  margin-right: 20px;
  width: -webkit-fill-available;
  direction: initial;
}

  div{
    margin: 5px;
  }

  input{
    font-size: x-large;
  }

  h3{
    color: #673ab7;
    font-size: xx-large;
  }
