
<div class="cotainer">
  <div class="card">
    <div class="card-header"><p>{{alertData.title}}</p></div>
    <div class="card-body">
      <div >
        <p>
          {{alertData.content}}
        </p>
      </div>
    </div>
    <div class="card-footer">
      <div class="row float-left">
        <div class="col-auto">
          <button type="submit" (click)="confirm()" class="btn btn-info submit-button">تأكيد</button>
          <button type="button" (click)="cancel()" class="btn btn-info cancel-button">إلغاء</button>
        </div>
      </div>
    </div>
  </div>
</div>
